div.row {
    float: left;
}

div.left {
    float:left;
    width: 20%;
    min-width: 300px;
}

div.right{
    float:left;
    /*width: 80%;*/
    min-width: 540px;
}

div.c-porta {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 1px;
    border: 0px solid black;
}

div.porta {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 4px;
}

div.porta-tempo {
    margin: 0px;
    padding: 4px;
    float: left;
}

div.porta-tempo input {
    vertical-align: top;
    width: 50px;
}

div.porta-tempo span {
    vertical-align: top;
}

div.c-container-original {
    display: none;
    /*clear: left;*/
    padding: 4px;
}

div.c-container {
    clear: left;
    padding: 4px;
}

div.c-container span{
    float: left;
}

div.b-novo-circuito {
    /*clear: left;*/
    padding: 4px;
}

div.container-outer {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 10px;
    /*clear: left;*/
}

div.circuitos {
    /*clear: left;*/
}

div.drag-portas {
    height: 20px;
}

.resultado-circuito {
    padding: 10px;
}

.resultado-circuito table,
.resultado-circuito tr,
.resultado-circuito td {
    border: 1px solid black;
    text-align: center;
}

.button {
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
    background-color: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.8;
}

.blue {
    background-color: #6BDAFF;
}

.red {
    background-color: #FF7171;
}


.green {
    background-color: #77FE56;
}